	 @media (max-width: 991px) {
		#dv-container { width: 350px;}
	 }

	 @media (max-width: 767px) {
	 	#dv-container {width: 300px;}
	 }	
	 #dv-container #slide {margin-left: 25px;}

	 #sessionFetchForm {margin-bottom:0;}
	 #activeSession {color: #203939; margin-top:0;}

	 input[type=number]::-webkit-outer-spin-button,
		input[type=number]::-webkit-inner-spin-button {
		    -webkit-appearance: none;
		    margin: 0;
		}

		input[type=number] {
		    -moz-appearance:textfield;
		}

	.axis path, .axis line {
			fill: none;
			stroke: #203939;
			shape-rendering: crispEdges;
		}

		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}

		.data-point {
			fill: #203939;
		}

		.source-point {
			fill: none;
		}

		.source-point.faster {
			fill: #F26D63 ;
		}

		.source-point.slower {
			fill: #F79973 ;
		}

		.seed-line {
			stroke: black;
			stroke-width: 1;
		}

		.seed-label {
			font-size:10px;
		}

		#label-faster, .error-margin.faster {
			stroke: #F26D63 ;
			stroke-width: 13;
		}
		#label-faster-word {
			fill: #F26D63 ;
			font-size: 22px;
			font-weight: 700;
		}

		#label-faster-letter {
			fill: black;
			font-size: 22px;
			font-weight: 700;
		}

		#label-slower, .error-margin.slower {
			stroke: #F79973 ;
			stroke-width: 13;
		}
		#label-slower-word {
			fill: #F79973;
			font-size: 22px;
			font-weight: 700;
		}
		#label-slower-letter {
			fill: black;
			font-size: 22px;
			font-weight: 700;
		}
		

		.warning {color:red;}

		#slider .inline-children * {display: inline-block;}

		#slide * {}
		#slide input {vertical-align:middle; margin-top:10px;}

		

		text {fill: #203939;}

		.activeGeneration { font-size: 64px; opacity: .4; fill: #203939;}

		#chain-play {margin-right: 10px;}

