	.row {margin:0;}

	.axis path, .axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}

		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}

		.data-point {
			fill: black;
		}

		.source-point {
			fill: none;
		}

		.source-point.faster {
			fill: #F26D63 ;
		}

		.source-point.slower {
			fill: #F79973 ;
		}

		.seed-line {
			stroke: black;
			opacity: .7;
			stroke-width: .5;
		}

		.seed-label {
			opacity: .6;
		}

		#label-faster, .error-margin.faster {
			stroke: #F26D63 ;
			stroke-width: 13;
		}
		#label-faster-word {
			fill: #F26D63 ;
			font-size: 22px;
			font-weight: 700;
		}

		#label-faster-letter {
			fill: black;
			font-size: 22px;
			font-weight: 700;
		}

		#label-slower, .error-margin.slower {
			stroke: #F79973 ;
			stroke-width: 13;
		}
		#label-slower-word {
			fill: #F79973;
			font-size: 22px;
			font-weight: 700;
		}
		#label-slower-letter {
			fill: black;
			font-size: 22px;
			font-weight: 700;
		}
		

		.warning {color:red;}

		#slider .inline-children * {display: inline-block;}

		#slide {}

		.activeGeneration { font-size: 128px; opacity: .4;}