body {overflow-x: hidden;}

h1 {font-family: 'PT Sans', sans-serif; color:#203939; font-weight:700; font-size: 64px; text-transform: uppercase;}
h2 {font-family: 'PT Sans Caption', sans-serif; color: #203939; font-size: 32px;}
h3 {font-family: 'PT Sans', sans-serif; color:#F79973;}

p {font-family: 'PT Serif', serif; color: #203939; font-size:16px;}

#top-svg {height:140px; margin-bottom:10px; position: relative; right:15%;}
#bottom-svg {height:140px; margin-bottom:0; position: relative; right:15%;}

@media (max-width: 767px) {
	h1 {font-size: 48px;}
	h2 {font-size: 28px;}
}
@media (min-width: 768px)  {
	#top-svg {height:320px; margin-bottom:30px; position: relative; right:35%;}	
	#bottom-svg {height:320px; margin-bottom:0; position: relative; right:35%;}
}

@media (min-width: 992px) {
}

#project-title {margin-bottom:0; margin-top:0;}
#project-description {margin-top: 0;}
#project-description-more {margin-left:0; margin-right:0; padding-left:0; padding-right:0;}

.logistics * {margin-top:0; margin-bottom:0;}
.logistics h1 {font-family:'PT Sans Caption', sans-serif; color: #203939; margin-top: 10px;
				font-size:26px; font-weight:400; text-transform: Capitalize;}
.logistics h2 {font-family: 'PT Sans Narrow', sans-serif; font-weight:700; color: #203939; font-size: 48px;}
.logistics span {font-family: 'PT Sans Narrow', sans-serif; font-size: 16px;}


