html { 
	font-size: 62.5%;
}

body {
	max-width: 90rem;
	margin: 1rem auto;
	font-family: Arial;
	font-size: 1.6rem;
}

img.fit {
	max-width: 100%;
}

br {
	margin-bottom: 2rem;
}

::selection {
	background-color: #8b713d;
	color: white;
}
::-moz-selection {
	background-color: #8b713d;
	color: white;
}
nav.main {
	margin-bottom: 3rem;
}
nav.main a {
	font-size: 1.3rem;
	margin-left: 1rem;
}

.align-right {
	text-align: right;
}
.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex.equal *{
	flex: 1;
}

.flex.center {
	justify-content: space-around;
}

ul {
	list-style: none;
	list-style-type: none;
	padding:0;
}

ul a {
	text-decoration: none;
	color: black;
}

ul li h1,p {
	font-size: 1.5rem;
}

#name {
	font-size: 2.4rem;
	font-weight: 400;
	font-family: PT-Serif;
}
header p {
	font-size: 1.2rem;
	padding: 0 4rem;
}

figcaption {
	font-size: 1.2rem;
}

#bio p {
	line-height: 2rem;
	color: #444;
}

h1, p {
	margin: 0 0 1rem 0	;
}

.flex > div {
	margin: 1rem 1rem;
}

.flex-1 {
	flex:1;
}

.flex-1-full {
	flex: 1 100%;
}
.flex-2 {
	flex: 2;
}